@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             ImageSrc="https://pub-3994a1873a2b4964acd0e1bd1eed75aa.r2.dev/BB-logo.png"
             Title="BilBørsen"
             BadgeText="BETA"
             DataProvider="SidebarDataProvider"
              />

    <main>
       

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>

@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
                   {
                       new NavItem { Href = "/", IconName = IconName.HouseDoorFill, Text = "Home" },
                       new NavItem { Href = "/counter", IconName = IconName.Calculator, Text = "Counter" },
                       new NavItem { Href = "/weather", IconName = IconName.CloudSunFill, Text = "Weather" },
                       new NavItem { Id = "1", IconName = IconName.ExclamationTriangleFill, Text = "Admin" },
                       new NavItem { Href = "Admin/users", IconName = IconName.PeopleFill, Text = "Users", ParentId = "1" },
                       new NavItem { Id = "2", IconName = IconName.Database, Text = "Dev" },
                       new NavItem { Href = "Dev/database", IconName = IconName.Database, Text = "Database", ParentId = "2" }
                   };

        return navItems;
    }
}


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>