@page "/"

<PageTitle>Biler til salg</PageTitle>

<div class="container mt-4">
    <h1>Biler til salg</h1>
    
    @if (cars == null)
    {
        <p>Indlæser biler...</p>
    }
    else if (!cars.Any())
    {
        <p>Ingen biler fundet.</p>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var car in cars)
            {
                <CarCard Car="car" />
            }
        </div>
    }
</div>

@code {
    private List<Car>? cars;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            cars = await DBService.GetAllCarsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fejl ved indlæsning af biler: {ex.Message}");
            throw;
        }
    }
}

